@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header {
    min-width: 1240px;
    height: 80px;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 30px;
}
.header__title {
    border-right: 2px solid black;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__link {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 100px;
    transition: .3s all ease-in-out;
    border-radius: 10px;
}
.nav__link:last-child {
    margin-right: 0px;
}
.nav__link:hover {
    transition: .3s all ease-in-out;
    color: #506ede;
}


.svg-block {
    width: 800px;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        'links  .  svg1  .'
        'links svg2 svg3 svg4'
        'links svg5  .  svg6';
}
.block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6464;
}

.links {
    display: flex;
    grid-area: links;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid black;
}
.links__title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}
.list {
    list-style-type: none;
}
.list > li  {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}
.link {
    text-decoration: none;
    color: white;
} 
.list > li:last-child {
    margin-bottom: 0px;
}
.list > li > a:hover {
    color: #b74949;
    cursor: pointer;
}
.icon {
    border-radius: 10px;
    background-color: #fff;
}

.item-first-clmn--1 {
    grid-area: svg1;
}

.item-second-clmn--1 {
    grid-area: svg2;
}
.item-second-clmn--2 {
    grid-area: svg3;
}
.item-second-clmn--3 {
    grid-area: svg4;
}

.item-third-clmn--1 {
    grid-area: svg5;
}
.item-third-clmn--2 {
    grid-area: svg6;
}