#notification {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.notification-content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  position: relative;
}

#notification-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}